<nav>
  <div *ngIf="session.user" class="go-to-profile">
    <button class="main-button" [routerLink]="['/main']">Home</button>
    <div class="right-buttons">
      <button class="profile-button" [routerLink]="['/profile', session.user.email]">{{ session.user.name }}</button>
      <button class="logout-button" (click)="logout()">Log Out</button>
    </div>
  </div>
  <div *ngIf="!session.user || !session.startLoginCompleted" class="go-to-profile">
    <button class="login-button" [routerLink]="['/login']">Log In</button>
  </div>
</nav>
