<div class="general">
  <div class="component">
    <form>
      <h2> Signup </h2>
      <label> E-mail: </label>
      <br>
      <input type="text" [(ngModel)]="email" name="email" />
      <br>
      <label> Name: </label>
      <br>
      <input type="text" [(ngModel)]="name" name="name" />
      <br>
      <label> Rol: </label>
      <br>
      <select [(ngModel)]="rol" name="rol">
       <option value="programmer">Programmer</option>
       <option value="artist">Artist</option>
       <option value="writer">Writer</option>
       <option value="musician">Musician</option>
      </select>
      <br>
      <label *ngIf="rol === 'programmer'"> Github username: </label>
      <label *ngIf="rol === 'artist'"> Deviantart username: </label>
      <label *ngIf="rol === 'writer'"> Wattpad username: </label>
      <label *ngIf="rol === 'musician'"> Soundcloud username: </label>
      <input *ngIf="rol" type="text" [(ngModel)]="account" name="account" />
      <br>
      <label> Password: </label>
      <br>
      <input type="password" [(ngModel)]="password" name="password" />
      <br>
      <button class="signup" (click)="signup()"> Sign Up </button>
    </form>
    <p class="error"> {{ error }} </p>
  </div>
</div>
