.general {
  display: flex;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-image: url("bg.png");
  background-size: 75px;
}

.component {
  margin: auto;
  width: 15%;
  text-align: left;
  padding: 20px;
  background-color: white;
  border: 3px outset lightGray;
  border-radius: 2px;
  box-shadow: 0px 1px 20px 0px darkGray;
}

input {
  width: 90%;
}

select {
  width: 90%;
}

h2 {
  text-align: center;
}

.login {
  float: right;
}
