<div class="profile">
  <div class="profile-image">
      <img src="{{ userAvatar }}" alt="user.image" height="200px" width="200px">
  </div>
  <div class="profile-info">
    <p class="username">{{ session.user.name }}</p>
    <p class="rol">{{ session.user.rol }}<a href="mailto:{{session.user.email}}" class="email">Contact me: {{ session.user.email }}</a></p>
  </div>
</div>
<div class="account">
  <app-github [userInfo]="userInfo" (onAvatar)="loadsAvatar($event)"></app-github>
</div>
<div class="project">

</div>
